<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokeguesser</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <main>
        <p id="pokeSpelers"></p>
        <section>
            <h1> Pokemon guesser!</h1>
            <div id="divArea">
                <img id="plaatjePokemon" src="<%- data.sprites.front_default %>" alt="Pokemon plaatje">
                <h2 id="naamPokemon"><%- data.forms[0].name %></h2>
            </div>
            <article>
                <div id="player1div">
                    <input id="textVeld" autocomplete="off" placeholder="player 1">
                    <button id="checkKnop"><span>Send</span></button>
                </div>
                <button id="nextButton"><span></button>
                <div id="player2div">
                    <input id="textVeld2" autocomplete="off" placeholder="player 2">
                    <button id="checkKnop2"><span>Send</span></button>
                </div>
            </article>

            

        </section>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
    <script src="confetti.js"></script>
</body>

</html>